.comment-box {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin: 5px 0;
  &>textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    outline: none;
    resize: none;
    min-height: 80px;
  }
  &>button {
    width: 100px;
    margin: 5px 0;
  }
}
